.settings {
    display: flex;
    width: 100%;
}

.settings-nav {
    position: fixed;
    width: 275px;
    height: 100%;
    left: 0px;
    display: flex;
    justify-content: end;
    padding: 20px 10px;
    background-color: var(--nav);
    transition: .3s;
    z-index: 47;
}

.settings-nav ul {
    width: 100%;
}

.settings-nav ul li .category {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 13px;
    color: var(--text-color);
    margin-bottom: 5px;
    margin-left: 10px;
}

.settings-nav ul li .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.settings-nav ul li .links a {
    width: 100%;
    margin: 2px 0;
    padding: 7px 10px;
    border-radius: 4px;
    text-transform: capitalize;
    transition: .2s linear;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--white);
}

.settings-nav ul li .links a .nav-icon {
    margin-right: 10px;
}

.settings-nav ul li .links a:hover {
    background-color: var(--ghost-click);
}

.settings-nav ul li .links a.active {
    background-color: var(--primary-hover);
    color: var(--white);
    pointer-events: none;
}

.settings-body {
    position: relative;
    left: 275px;
    width: calc(100% - 275px);
    padding: 10px;
    background-color: var(--bg);
    transition: .3s;
}

.change-avt {
    width: max-content;
    height: max-content;
    cursor: pointer;
}

.change-avt img {
    height: 120px;
    width: 120px;
    min-height: 120px;
    min-width: 120px;
    object-fit: cover;
}

.change-avt .icon {
    top: 0;
    right: 0px;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
}

.settings-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group {
    margin: 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.change-avatar .right {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-avatar .right h3 {
    font-size: 19px;
}

.settings-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}



@media screen and (max-width:800px) {
    .settings-nav {
        left: -275px;
    }

    .settings-body {
        left: 0;
        width: 100%;
    }

    .app.nav-active .settings-nav {
        left: 0;
    }
}