.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 49;
}

.modal-box,
.c-modal-box {
    z-index: 50;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: max-content;
    background-color: var(--modal);
    border-radius: 5px;
}

.c-modal-box {
    max-width: 400px;
}

.modal-header {
    padding: 10px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.modal-header h2 {
    font-size: 26px;
    text-transform: capitalize;
}

.modal-header button .icon {
    transform: rotateZ(45deg);
    font-size: 18px;
}

.modal-body {
    max-height: 500px;
    margin: 5px;
    padding: 0 10px;
    overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
    width: 5px;
}


.modal-fotter,
.c-modal-fotter {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    gap: 10px;
    margin-top: 20px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    background-color: var(--header);
}

.c-modal-fotter {
    justify-content: end;
}