.app {
    min-height: 100vh;
    display: flex;
    background-color: var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.app.isHeader {
    margin-top: 60px;
    min-height: calc(100vh - 60px) !important;
}