@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: 'Open Sans', 'Ubuntu', sans-serif;
}


:root {
  --header: #1f1f25;
  --nav: #3b3b4b;
  --bg: #292930;
  --primary: #5865f2;
  --primary-hover: #4e59cb;
  --primary-click: #4a56d6;
  --white: #ffffff;
  --ghost-hover: #e2ecf8;
  --ghost-click: #d6e7fa;
  --text-color: #a5a5a8;
  --gray-0: #919198;
  --gray-1: #434350;
  --gray-2: #393943;
  --gray-3: #292930;
  --gray-3-4: #2c2c35;
  --gray-4: #1f1f25;
  --gray-5: #0c0c0f;
  --dark: #343a40;
  --dark-deep: #212529;
  --green: #28a745;
  --red: #dc3545;
  --purple: #8e44ad;
  --pink: #e91e63;
  --yellow: #f1c40f;
}

.spin {
  animation: spin infinite .8s linear;
}

.show {
  animation: show .2s linear;
}

.scale {
  animation: scale .1s linear;
}

.unshow {
  animation: unshow .2s linear;
}

.icon {
  font-size: 23px;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(.7);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes unshow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.circle {
  border-radius: 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.btn {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 0 17px;
  transition: .3s;
}

.full {
  width: 100% !important;
}

.btn.circle {
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  border-radius: 50%;
}

.btn:active {
  transform: scale(.97);
}

.btn p {
  font-weight: 600;
  font-size: 17px;
}

.btn p.with-icon {
  margin-left: 10px;
}

.btn p.with-icon-right {
  margin-right: 10px;
}

.ghost {
  background: none;
}

.ghost:hover {
  background: var(--ghost-hover);
}

.ghost:active {
  background: var(--ghost-click);
}


.primary {
  background-color: var(--primary);
  color: var(--white) !important;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary:active {
  background-color: var(--primary-click);
}

.link-btn {
  background: none;
  padding: 0;
  width: max-content;
  height: max-content;
  color: var(--dark);
}

.link-btn:hover {
  text-decoration: underline;
}


@media screen and (max-width:800px) {
  .remove-medium {
    display: none;
  }
}

@media screen and (max-width:500px) {
  .remove-small {
    display: none;
  }
}