@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: 'Open Sans', 'Ubuntu', sans-serif;
  color: var(--white);
}

body {
  background-color: var(--bg);
}

:root {
  --header: #2b2b3b;
  --nav: #3b3b4b;
  --bg: #24242c;
  --boxes: #1f1f25;
  --primary: #5c65f2;
  --primary-hover: #4c59cb;
  --primary-click: #4a56d6;
  --danger: #c53535;
  --danger-hover: #a42929;
  --danger-click: #861c1c;
  --white: #d9d9e9;
  --ghost-hover: #3f4052;
  --ghost-click: #545868;
  --text-color: #c9c9cc;
  --gray-0: #818198;
  --gray-1: #3c4350;
  --gray-2: #2f3943;
  --gray-3: #24242c;
  --gray-3-4: #28282c;
  --gray-4: #1b1b25;
  --gray-5: #0c0c0f;
  --modal: #1b1b25;
  --green: #1f7c45;
  --red: #c53545;
  --purple: #7c44ad;
  --pink: #e91e63;
  --yellow: #f1c40f;
  --skeleton: #2c2c3cb3;
  --skeleton-highlight: #5c65f233;
}




.spin {
  animation: spin infinite .8s linear;
}

.show {
  animation: show .2s linear;
}

.scale {
  animation: scale .1s linear;
}

.unshow {
  animation: unshow .2s linear;
}

.icon {
  font-size: 23px;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(.7);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes unshow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.circle {
  border-radius: 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.btn {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 0 17px;
  transition: .3s;
  color: var(--white) !important;
  cursor: pointer;
}

.full {
  width: 100% !important;
}

.btn.circle {
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  border-radius: 50%;
}

.btn:active {
  transform: scale(.97);
}

.btn p {
  font-weight: 600;
  font-size: 17px;
}

.btn p.with-icon {
  margin-left: 10px;
}

.btn p.with-icon-right {
  margin-right: 10px;
}

.ghost {
  background: none;
}

.ghost:hover {
  background: var(--ghost-hover);
}

.ghost:active {
  background: var(--ghost-click);
}


.primary {
  background-color: var(--primary);
  color: var(--white) !important;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary:active {
  background-color: var(--primary-click);
}


.danger {
  background-color: var(--danger);
  color: var(--white) !important;
}

.danger:hover {
  background-color: var(--danger-hover);
}

.danger:active {
  background-color: var(--danger-click);
}



@media screen and (max-width:800px) {
  .remove-medium {
    display: none;
  }
}

@media screen and (max-width:500px) {
  .remove-small {
    display: none;
  }
}

.Toastify__toast-theme--dark {
  background-color: var(--modal) !important;
}

@keyframes skeleton {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  background-color: var(--skeleton);
  background-image: linear-gradient(to right, var(--skeleton) 0%, var(--skeleton-highlight) 20%, var(--skeleton) 40%);
  background-repeat: no-repeat;
  background-size: 200px 100%;
  animation: skeleton 1s ease-in-out infinite;
}

::-webkit-resizer {
  background-color: #666;
  border-end-end-radius: 8px;
  border-start-start-radius: 5px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}

::-webkit-scrollbar-button {
  display: none;
  background-color: #000;
}

::-webkit-scrollbar-corner {
  background-color: #2f3136;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #6d6d79;
  border-radius: 5px;
  border-top: solid;
  border-bottom: solid;
  border-color: #36393f;
}

::-webkit-scrollbar-track {
  background-color: hsla(240, 5%, 45%, .3);
}

::-webkit-scrollbar-track-piece {
  background-color: #2f3136;
}