.chat-windows {
    display: flex;
    width: 100%;
}

.chat-windows nav {
    position: fixed;
    width: 330px;
    height: calc(100% - 60px);
    left: 0px;
    padding: 20px 10px;
    background-color: var(--nav);
    transition: .3s;
    z-index: 47;
    overflow-y: auto;
}

.chat-windows nav::-webkit-scrollbar {
    width: 5px;
}

.chat-windows nav .searchNote {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}

.chat-windows nav .nav-note {
    text-align: center;
}

.chat-windows nav .chats-search {
    display: block;
    width: 100%;
}

.chat-windows nav .nav-chats {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.chat-windows nav .nav-chats .loading-chat,
.chat-windows nav .nav-chats .nav-chat {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}

.chat-windows nav .nav-chats .nav-chat {
    border-radius: 7px;
    transition: .3s;
}

.chat-windows nav .nav-chats .nav-chat:hover {
    background-color: var(--ghost-hover);
}

.chat-windows nav .nav-chats .nav-chat.chat-active {
    background-color: var(--ghost-click);
}

.chat-windows nav .nav-chats .nav-chat .left img {
    min-height: 50px;
    height: 50px;
    min-width: 50px;
    width: 50px;
}

.chat-windows nav .nav-chats .loading-chat .right,
.chat-windows nav .nav-chats .nav-chat .right {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.chat-windows nav .nav-chats .nav-chat .right h3 {
    font-size: 20px;
}

.chat-windows nav .nav-chats .nav-chat .right .last-msg {
    font-size: 14px;
    margin-top: -13px;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-windows nav .nav-chats .nav-chat .right .last-msg span {
    font-weight: 600;
}

.chat-windows nav .avt-loading {
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    border-radius: 50%;
}

.chat-windows nav .name-loading {
    height: 18px;
    width: 130px;
    border-radius: 3px;
}

.chat-windows nav .last-msg-loading {
    height: 13px;
    width: 190px;
    border-radius: 3px;
}

.chats-search {
    transition: .3s;
}

.chats-search.typed+.add-group {
    display: none;
}

.group-search-users {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-text-note {
    display: block;
    margin: 10px auto;
}

.group-search-users .group-search-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.group-search-users .group-search-user .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-search-users .group-search-user img {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
    margin-right: 10px;
}

.group-search-users .group-search-user .name {
    font-size: 18px;
}

.group-users {
    /* padding: 0 10px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.group-users .group-user {
    padding: 1px 8px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--ghost-hover);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.group-users .group-user:hover {
    background-color: var(--ghost-click);
}

.group-users .group-user .icon {
    transform: rotateZ(45deg);
    font-size: 13px;
}

.chat-box {
    position: relative;
    left: 330px;
    width: calc(100% - 330px);
}

.chat-box-header {
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 330px);
    padding: 0 10px;
    background-color: var(--bg);
    border-bottom: solid 1px var(--ghost-hover);
    z-index: 40;
}

.chat-box-header .right {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .2s;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-box-header .right:active {
    transform: scale(.99);
}

.chat-box-header .right .avt-loading {
    width: 40px;
    height: 40px;
}

.chat-box-header .right .name-loading {
    height: 19px;
    width: 140px;
    border-radius: 5px;
}

.chat-box-header .btn-loading {
    height: 28px;
    width: 28px;
    border-radius: 5px;
}

.chat-box-header .right .avt {
    width: 40px;
    height: 40px;
}

.chat-box-header .right .name {
    font-size: 20px;
}

.chat-box-body {
    position: fixed;
    top: 120px;
    height: calc(100% - 180px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 330px);
    padding: 0 10px;
    padding-top: 10px;
    scroll-behavior: auto;
}

.chat-box-body::-webkit-scrollbar {
    width: 5px;
}

.chat-box-body .messages-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.chat-box-body .messages-group .message {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 5px;
    margin-left: 40px;
}

.chat-box-body .messages-group .message.last,
.chat-box-body .messages-group.me .message {
    margin-left: 0;
}

.chat-box-body .messages-group .message.pending {
    opacity: .7;
}

.chat-box-body .messages-group .message.has-after p,
.chat-box-body .messages-group .message.has-after img {
    border-end-start-radius: 4px;
}

.chat-box-body .messages-group .message.has-before p,
.chat-box-body .messages-group .message.has-before img {
    border-start-start-radius: 4px;
}

.chat-box-body .messages-group.me .message.has-after p,
.chat-box-body .messages-group.me .message.has-after img {
    border-end-end-radius: 4px !important;
}

.chat-box-body .messages-group.me .message.has-before p,
.chat-box-body .messages-group.me .message.has-before img {
    border-start-end-radius: 4px !important;
}

.chat-box-body .messages-group.me .message {
    display: flex;
    justify-content: end;
}
.chat-box-body .messages-group .message p {
    padding: 5px 10px;
    border-radius: 17px;
    background-color: #2C3E50;
    max-width: min(80%, 600px);
    height: max-content;
}

.chat-box-body .messages-group .message img {
    max-width: 400px;
    min-width: 100px ;
    max-height: 300px;
    min-height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.chat-box-body .messages-group.me .message p {
    background-color: #A7C9E0;
    color: var(--gray-5);
    border-radius: 17px;
}



.chat-box-body .messages-group .message .avatar {
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
}

.chat-box-new_message {
    position: fixed;
    bottom: 0px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: calc(100% - 330px);
    padding: 0 10px;
    gap: 10px;
}

.chat-box-new_message .message-input {
    position: relative;
    bottom: 8px;
    width: 100%;
    resize: none;
    height: 40px;
    padding: 10px;
    background-color: var(--nav);
    border-radius: 5px;
    padding-right: 40px;
    padding-left: 70px;
    max-height: 350px !important;
}

textarea::-webkit-scrollbar {
    width: 3px;
}

.chat-box-new_message .send-message {
    position: absolute;
    right: 23px;
    top: 0;
    bottom: 0;
    height: max-content;
    margin: auto 0;
    font-size: 18px;
}

.chat-box-new_message .left-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    height: max-content;
    margin: auto 0;
    z-index: 100;
}

.chat-box-new_message .generate-message {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .chat-windows nav {
        left: -330px;
    }

    .chat-box,
    .chat-box-header,
    .chat-box-body,
    .chat-box-new_message {
        left: 0;
        width: 100% !important;
    }

    .app.nav-active .chat-windows nav {
        left: 0;
        width: 100%;
    }
}

.chat-box .note {
    font-size: 22px;
    width: max-content;
    max-width: 97%;
    display: block;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}


.ai-message-box {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.promot-input,
.result-input {
    width: 100%;
    resize: none;
    height: 70px;
    padding: 10px;
    background-color: var(--nav);
    border-radius: 5px;
    max-height: 350px !important;
}

.generate-message-button {
    margin-bottom: 0px;
}


.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-preview img {
    max-width: 98%;
    min-width: 100px;
    max-height: 300px;
    min-height: 30px;
    border-radius: 10px;
}