.chat-windows {
    display: flex;
    width: 100%;
}

.chat-windows nav {
    position: fixed;
    width: 350px;
    height: calc(100% - 60px);
    left: 0px;
    padding: 20px 10px;
    background-color: var(--nav);
    transition: .3s;
    z-index: 47;
    overflow-y: auto;
}

.chat-windows nav::-webkit-scrollbar {
    width: 5px;
}

.chat-windows nav .searchNote {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}

.chat-windows nav .nav-note {
    text-align: center;
}

.chat-windows nav .chats-search {
    display: block;
    width: 100%;
}

.chat-windows nav .nav-chats {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.chat-windows nav .nav-chats .loading-chat,
.chat-windows nav .nav-chats .nav-chat {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}


.chat-windows nav .nav-chats .nav-chat {
    border-radius: 7px;
    transition: .3s;
}

.chat-windows nav .nav-chats .nav-chat:hover {
    background-color: var(--ghost-hover);
}

.chat-windows nav .nav-chats .nav-chat.chat-active {
    background-color: var(--ghost-click);
}


.chat-windows nav .nav-chats .nav-chat .left img {
    min-height: 50px;
    height: 50px;
    min-width: 50px;
    width: 50px;
}

.chat-windows nav .nav-chats .loading-chat .right,
.chat-windows nav .nav-chats .nav-chat .right {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.chat-windows nav .nav-chats .nav-chat .right h3 {
    font-size: 20px;
}

.chat-windows nav .nav-chats .nav-chat .right .last-msg {
    font-size: 14px;
    margin-top: -13px;
}

.chat-windows nav .avt-loading {
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    border-radius: 50%;
}

.chat-windows nav .name-loading {
    height: 18px;
    width: 130px;
    border-radius: 3px;
}

.chat-windows nav .last-msg-loading {
    height: 13px;
    width: 190px;
    border-radius: 3px;
}

.chats-search {
    transition: .3s;
}

.chats-search.typed+.add-group {
    display: none;
}

.group-search-users {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-text-note {
    display: block;
    margin: 10px auto;
}

.group-search-users .group-search-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.group-search-users .group-search-user .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-search-users .group-search-user img {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
    margin-right: 10px;
}

.group-search-users .group-search-user .name {
    font-size: 18px;
}

.group-users {
    /* padding: 0 10px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.group-users .group-user {
    padding: 1px 8px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--ghost-hover);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.group-users .group-user:hover {
    background-color: var(--ghost-click);
}

.group-users .group-user .icon {
    transform: rotateZ(45deg);
    font-size: 13px;
}