<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
</head>


<body>

    <nav class="transition">
        <div class="nav_header">
            <h2 class="title">Chatti</h2>
            <div class="buttons">
                <i class="fa-solid fa-gear nav_btn pointer circle transition" id="user_settings"></i>
                <i class="fa-solid fa-user-plus nav_btn pointer circle transition" id="add_contact"></i>
            </div>
        </div>
        <div class="contacts">
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1Eminem1Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
            <div class="contact pointer transition curved">
                <img src="images/avt1.png" class="contact_avatar circle" width="50px">
                <div class="contact_info">
                    <p class="contact_name">Eminem1</p>
                    <p class="last_msg">new contact</p>
                </div>
            </div>
        </div>
    </nav>

    <main class="transition">
        <div class="header">
            <div class="info">
                <img src="images/avt1.png" class="avatar circle" width="40px">
                <p class="name">Eminem1</p>
            </div>
        </div>
        <div class="chat_box">
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">test</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">,</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">,</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">,</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">,</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">,</p>
            </div>
            <div class="msg">
                <img src="images/avt1.png" class="msg_avt circle" width="32px">
                <p class="msg_text">test</p>
            </div>
            <div class="msg me">
                <p class="msg_text">,</p>
            </div>
            <div class="msg me">
                <p class="msg_text">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</p>
            </div>
        </div>
        <div class="inputs_box">
            <input type="text" class="msg_input" id="msg_input" placeholder="Message..." autofocus autocomplete="false">
            <i class="fa-solid fa-paper-plane send_btn circle pointer" id="send_btn"></i>
        </div>
    </main>

</body>


</html>