<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <style>
            @media screen and (max-width:900px) {
                nav {
                    width: 100vw !important;
                    left: 0 !important;
                }

                main {
                    display: none !important;
                }
            }
        </style>
</head>


<body>
    <nav class="transition">
        <div class="nav_header">
            <h2 class="title">Rock chat</h2>
            <div class="buttons">
                <i class="fa-solid fa-gear nav_btn pointer circle transition" id="user_settings"></i>
                <i class="fa-solid fa-user-plus nav_btn pointer circle transition" id="add_contact"></i>
            </div>
        </div>
        <div class="contacts" id="contacts_box">
        </div>
    </nav>
    <main class="transition">
        <h3 style="display:block; text-align:center; margin:50vh auto; font-size:1.3rem; color:var(--dark);">Select a
            chat or start a new conversation</h3>
    </main>
    <script src="js/socket.js"></script>
    <script src="js/chat.js"></script>

    <%- include('includes/search') %>
        <%- include('includes/main_js') %>
</body>


</html>