.loginContainer {
    width: 500px;
    padding: 0 30px;
    margin: 0 auto;
}

@media screen and (max-width:700px) {
    .loginContainer {
        padding: 0 10px;
    }
}

.titleBox h1 {
    font-size: 25px;
}


.loginBox {
    align-items: center;
    padding: 15px 0px;
    background: #fff;
    width: 100%;
    margin: 100px 0 15px 0;
    border-radius: .5em;
    border-width: "1px";
}

.loginBox h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}